body {
  overflow-y: scroll;
  padding-top: 120px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}

#content {
  flex: 1;
}

.CodeMirror {
  font-size: 12px;
}

.codemirror-height-auto .CodeMirror {
  height: auto;
}

.cc-revoke,
.cc-window {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cc-revoke {
  padding: 0.5em 1em;
}

.cc-link {
  padding: 0;
  padding-top: 0.5em;
}

.modal-lg {
  max-width: 980px !important;
}

.dropdown-toggle:after {
  margin-left: .51em !important;
}

input,
input:focus,
select,
textarea,
textarea:focus {
  color: #999 !important;
  background-color: #333 !important;
}

@media (max-width: 992px) {
  body .modal-lg {
    max-width: calc(100% - 1em) !important;
  }
}

@media (max-width: 992px) {
  body .hide-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  body .hide-lg {
    display: none !important;
  }
}

@media (min-width: 576px) {
  body .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  body .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  body .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body .container {
    max-width: 1140px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
