@media (max-width: 767px) {
  .documentation-page {
    flex-direction: column-reverse;
  }
}

.documentation-navigation-list {
  -webkit-padding-start: 20px;
  padding-left: 20px;
}

.documentation-navigation-list a.active {
  color: var(--green) !important;
}
